/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: lightgray;
}
.theme-showcase .navbar .container {
  width: 100%;
}
.navbar {
  opacity: .99;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  padding-top: 10px;
}
.content{
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #F0F0F0;
  box-shadow: 0 0 .5em grey;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  background-color: darkgray;
}
.summary {
  margin-bottom: 120px;
}
.page {
  padding-top: 90px;
}
a.link:link {
  color: #343434;
  text-decoration: none;
}
a.link:visited {
  color: #343434;
  text-decoration: none;
}
a.link:hover {
  color: #343434;
  text-decoration: none;
}
a.link:active {
  color: #343434;
  text-decoration: none;
}
@media (min-width: 768px) {
  .contact .call {
    display: none;
  }
  .contact {
    float: right;
  }
  .content {
    padding-left: 15px;
}
